<a href="https://colab.research.google.com/github/zizilnam/Mini_Project_Machine_Learning_Elo_Merchant_Kaggle/blob/main/ELO_Project_feature_Engineering.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Feature Engineering

https://github.com/Rjt5412/Elo-Merchant-Category-Recommendation

In [ ]:
cd/content/drive/MyDrive/KDT/모델링 프로젝트/data

/content/drive/MyDrive/KDT/모델링 프로젝트/data

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

대용량 데이터로 인한 메모리가 터지는 사태를 막기위해 코드를 작성합니다.

In [ ]:
def reduce_mem_usage(df, verbose=True):
    numerics = ['int16', 'int32', 'int64', 'float16', 'float32', 'float64']
    start_mem = df.memory_usage().sum() / 1024**2    
    for col in df.columns:
        col_type = df[col].dtypes
        if col_type in numerics:
            c_min = df[col].min()
            c_max = df[col].max()
            if str(col_type)[:3] == 'int':
                if c_min > np.iinfo(np.int8).min and c_max < np.iinfo(np.int8).max:
                    df[col] = df[col].astype(np.int8)
                elif c_min > np.iinfo(np.int16).min and c_max < np.iinfo(np.int16).max:
                    df[col] = df[col].astype(np.int16)
                elif c_min > np.iinfo(np.int32).min and c_max < np.iinfo(np.int32).max:
                    df[col] = df[col].astype(np.int32)
                elif c_min > np.iinfo(np.int64).min and c_max < np.iinfo(np.int64).max:
                    df[col] = df[col].astype(np.int64)  
            else:
                if c_min > np.finfo(np.float16).min and c_max < np.finfo(np.float16).max:
                    df[col] = df[col].astype(np.float16)
                elif c_min > np.finfo(np.float32).min and c_max < np.finfo(np.float32).max:
                    df[col] = df[col].astype(np.float32)
                else:
                    df[col] = df[col].astype(np.float64)    
    end_mem = df.memory_usage().sum() / 1024**2
    if verbose: print('Mem. usage decreased to {:5.2f} Mb ({:.1f}% reduction)'.format(end_mem, 100 * (start_mem - end_mem) / start_mem))
    return df

In [ ]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
import datetime
from statsmodels.stats.outliers_influence import variance_inflation_factor

import gc
import warnings

## Train file

In [ ]:
train = pd.read_csv("train.csv")

In [ ]:
train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 201917 entries, 0 to 201916
Data columns (total 6 columns):
 #   Column              Non-Null Count   Dtype
---  ------              --------------   -----
 0   first_active_month  201917 non-null  object
 1   card_id             201917 non-null  object
 2   feature_1           201917 non-null  int64
 3   feature_2           201917 non-null  int64
 4   feature_3           201917 non-null  int64
 5   target              201917 non-null  float64
dtypes: float64(1), int64(3), object(2)
memory usage: 9.2+ MB

 One hot encoding categorical variables

In [ ]:
train = pd.get_dummies(train, columns=['feature_1', 'feature_2', 'feature_3'])

 Converting active month into month difference from now

 Numerical data로 활용하기 위해 현재 날짜에서 빼줍니다.

In [ ]:
train['first_active_month'] = pd.to_datetime(train['first_active_month'], format='%Y-%M')
today = pd.to_datetime('today')
train['first_active_month_diff_from_today'] = (12 * (today.year - train['first_active_month'].dt.year) + (today.month - train['first_active_month'].dt.month))

Extracting year of joining as a feature

In [ ]:
train['year_of_joining'] = train['first_active_month'].dt.year

In [ ]:
train= train.drop(columns=['first_active_month'], axis=1)

In [ ]:
train.head()

           card_id  ...  year_of_joining
0  C_ID_92a2005557  ...             2017
1  C_ID_3d0044924f  ...             2017
2  C_ID_d639edf6cd  ...             2016
3  C_ID_186d6a6901  ...             2017
4  C_ID_cdbd2c0db2  ...             2017

[5 rows x 14 columns]

In [ ]:
train.to_csv('processed_train.csv')

## Test file

train 파일과 동일한 작업을 진행해줍니다.

In [ ]:
test = pd.read_csv('test.csv')
test['first_active_month'] = pd.to_datetime(test['first_active_month'], format='%Y-%M')
today = pd.to_datetime('today')
test['first_active_month_diff_from_today'] = (12 * (today.year - test['first_active_month'].dt.year) + (today.month - test['first_active_month'].dt.month))
test = pd.get_dummies(test, columns=['feature_1', 'feature_2', 'feature_3'])
test['year_of_joining'] = test['first_active_month'].dt.year
test = test.drop(columns=['first_active_month'], axis=1)

In [ ]:
test.head()

           card_id  ...  year_of_joining
0  C_ID_0ab67a22ab  ...           2017.0
1  C_ID_130fd0cbdd  ...           2017.0
2  C_ID_b709037bc5  ...           2017.0
3  C_ID_d27d835a9f  ...           2017.0
4  C_ID_2b5e3df5c2  ...           2015.0

[5 rows x 13 columns]

In [ ]:
test.to_csv("processed_test.csv")

## Transaction Files

데이터 피쳐 엔지니어링의 편의를 위해 historical_transactions와 new_merchant_transactions를 병합합니다.

In [ ]:
all_transactions = reduce_mem_usage(pd.read_csv("historical_transactions.csv"))
new_merchant_transactions = reduce_mem_usage(pd.read_csv("new_merchant_transactions.csv"))

Mem. usage decreased to 1749.11 Mb (43.7% reduction)
Mem. usage decreased to 114.20 Mb (45.5% reduction)

In [ ]:
all_transactions = all_transactions.append(new_merchant_transactions, ignore_index=True)
all_transactions.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 31075392 entries, 0 to 31075391
Data columns (total 14 columns):
 #   Column                Dtype
---  ------                -----
 0   authorized_flag       object
 1   card_id               object
 2   city_id               int16
 3   category_1            object
 4   installments          int16
 5   category_3            object
 6   merchant_category_id  int16
 7   merchant_id           object
 8   month_lag             int8
 9   purchase_amount       float32
 10  purchase_date         object
 11  category_2            float16
 12  state_id              int8
 13  subsector_id          int8
dtypes: float16(1), float32(1), int16(3), int8(3), object(6)
memory usage: 1.8+ GB

In [ ]:
del new_merchant_transactions

### Removing Outliers

In [ ]:
all_transactions.head()

  authorized_flag          card_id  city_id  ... category_2  state_id subsector_id
0               Y  C_ID_4e6213e9bc       88  ...        1.0        16           37
1               Y  C_ID_4e6213e9bc       88  ...        1.0        16           16
2               Y  C_ID_4e6213e9bc       88  ...        1.0        16           37
3               Y  C_ID_4e6213e9bc       88  ...        1.0        16           34
4               Y  C_ID_4e6213e9bc       88  ...        1.0        16           37

[5 rows x 14 columns]

purchase amounts에서 소수의 아웃라이어를 찾습니다.

In [ ]:
for i in range(90, 101):
  print("{} percentile value is {:3.3f}".format(i, np.percentile(all_transactions['purchase_amount'],i)))

90 percentile value is -0.424
91 percentile value is -0.392
92 percentile value is -0.356
93 percentile value is -0.304
94 percentile value is -0.248
95 percentile value is -0.162
96 percentile value is -0.044
97 percentile value is 0.140
98 percentile value is 0.455
99 percentile value is 1.240
100 percentile value is 6010604.000

Removing the 100 percentile value

In [ ]:
all_transactions = all_transactions.drop(all_transactions[all_transactions["purchase_amount"] == 6010604.000].index)

In [ ]:
all_transactions.to_csv('all_transactions.csv')

### Featurization using purchase date

In [ ]:
all_transactions = reduce_mem_usage(pd.read_csv('all_transactions.csv', index_col = 0))

/usr/local/lib/python3.7/dist-packages/numpy/lib/arraysetops.py:580: FutureWarning: elementwise comparison failed; returning scalar instead, but in the future will perform elementwise comparison
  mask |= (ar1 == a)

Mem. usage decreased to 2104.14 Mb (40.8% reduction)

In [ ]:
all_transactions = all_transactions[['card_id', 'purchase_date']]

In [ ]:
pd.to_datetime(all_transactions['purchase_date'], format='%Y-%m-%d %H:%M:%S').dt.year.value_counts()

2017    24131551
2018     6943840
Name: purchase_date, dtype: int64

So our data contains transactions from two years: 2017 and 2018

In [ ]:
date_time_data = pd.to_datetime(all_transactions['purchase_date'], format='%Y-%m-%d %H:%M:%S')

In [ ]:
date_time_data[0].strftime(format='%d-%m-%y')

'25-06-17'

날짜 데이터를 categorical 데이터로 변환하는 함수를 작성합니다. 공휴일도 데이터로 활용될 수 있기 때문에 공휴일을 구분하는 함수도 만듭니다.

In [ ]:
def get_weekday(data):
  return data.dt.dayofweek

def is_weekend(day):
  if day == 4 or day == 5 or day == 6:
    return 1
  else:
    return 0

def get_purchase_month(data):
  return data.dt.month_name()

def get_time_of_month(date):
  if date.day <= 10:
    return "Early"
  elif date.day > 10 and date.day <= 20:
    return "Mid"
  else:
    return "End"

def get_time_of_day(time):
  if time.hour >= 4 and time.hour < 12:
    return "Morning"
  elif time.hour >= 12 and time.hour < 17:
    return "Afternoon"
  elif time.hour >= 17 and time.hour < 22:
    return "Evening"
  else:
    return "Night"

def get_isholiday(date):
  holiday_list = [
                   '01-01-17', '14-02-17', '28-08-17', '14-04-17', '16-04-17', '21-04-17',
                   '01-05-17', '15-06-17', '07-09-17', '12-10-17', '02-11-17', '15-11-17',
                   '24-12-17', '25-12-17', '31-12-17',
                   '01-01-18', '14-02-18', '28-08-18', '14-04-18', '16-04-18', '21-04-18',
                   '01-05-18', '15-06-18', '07-09-18', '12-10-18', '02-11-18', '15-11-18',
                   '24-12-18', '25-12-18', '31-12-18'
  ]
  date = date.strftime(format='%d-%m-%y')
  if date in holiday_list:
    return 1
  else:
    return 0

In [ ]:
all_transactions['purchase_date'] = date_time_data.dt.date

In [ ]:
all_transactions.head()

           card_id purchase_date
0  C_ID_4e6213e9bc    2017-06-25
1  C_ID_4e6213e9bc    2017-07-15
2  C_ID_4e6213e9bc    2017-08-09
3  C_ID_4e6213e9bc    2017-09-02
4  C_ID_4e6213e9bc    2017-03-10

위에서 만든 함수를 적용합니다.

In [ ]:
all_transactions['weekday'] = get_weekday(date_time_data)
all_transactions['is_weekend'] = all_transactions['weekday'].apply(lambda day: is_weekend(day))
all_transactions['purchase_month'] = get_purchase_month(date_time_data)
all_transactions['purchase_time'] = date_time_data.apply(lambda day: get_time_of_day(day))
all_transactions['purchase_month_time'] = date_time_data.apply(lambda date: get_time_of_month(date))
all_transactions['purchase_on_holiday'] = date_time_data.apply(lambda date_obj: get_isholiday(date_obj))

In [ ]:
all_transactions.head()

           card_id purchase_date  ...  purchase_month_time  purchase_on_holiday
0  C_ID_4e6213e9bc    2017-06-25  ...                  End                    0
1  C_ID_4e6213e9bc    2017-07-15  ...                  Mid                    0
2  C_ID_4e6213e9bc    2017-08-09  ...                Early                    0
3  C_ID_4e6213e9bc    2017-09-02  ...                Early                    0
4  C_ID_4e6213e9bc    2017-03-10  ...                Early                    0

[5 rows x 8 columns]

In [ ]:
all_transactions['purchase_on_holiday'].value_counts()

0    30035887
1     1039504
Name: purchase_on_holiday, dtype: int64

문자로 된 데이터를 원핫 인코딩해줍니다.

In [ ]:
all_transactions = pd.get_dummies(all_transactions, columns=['weekday', 'purchase_month', 'purchase_time', 'purchase_month_time'])

In [ ]:
all_transactions.head()

           card_id  ... purchase_month_time_Mid
0  C_ID_4e6213e9bc  ...                       0
1  C_ID_4e6213e9bc  ...                       1
2  C_ID_4e6213e9bc  ...                       0
3  C_ID_4e6213e9bc  ...                       0
4  C_ID_4e6213e9bc  ...                       0

[5 rows x 30 columns]

위의 함수 및 원핫 인코딩으로 구한 칼럼의 데이터들의 sum, mean을 구해 칼럼에 추가합니다.

In [ ]:
aggregations = {
    'is_weekend' : ['sum', 'mean'],
    'purchase_on_holiday' : ['sum', 'mean'],
    'weekday_0' : ['sum', 'mean'],
    'weekday_1' : ['sum', 'mean'],
    'weekday_2' : ['sum', 'mean'],
    'weekday_3' : ['sum', 'mean'],
    'weekday_4' : ['sum', 'mean'],
    'weekday_5' : ['sum', 'mean'],
    'weekday_6' : ['sum', 'mean'],
    'purchase_month_April' : ['sum', 'mean'],
    'purchase_month_August' : ['sum', 'mean'],
    'purchase_month_December' : ['sum', 'mean'],
    'purchase_month_February' : ['sum', 'mean'],
    'purchase_month_January' : ['sum', 'mean'],
    'purchase_month_July' : ['sum', 'mean'],
    'purchase_month_June' : ['sum', 'mean'],
    'purchase_month_March' : ['sum', 'mean'],
    'purchase_month_May' : ['sum', 'mean'],
    'purchase_month_November' : ['sum', 'mean'],
    'purchase_month_October' : ['sum', 'mean'],
    'purchase_month_September' : ['sum', 'mean'],
    'purchase_time_Afternoon' : ['sum', 'mean'],
    'purchase_time_Evening' : ['sum', 'mean'],
    'purchase_time_Morning' : ['sum', 'mean'],
    'purchase_time_Night' : ['sum', 'mean'],
    'purchase_month_time_Early' : ['sum', 'mean'],
    'purchase_month_time_End' : ['sum', 'mean'],
    'purchase_month_time_Mid' : ['sum', 'mean'],
    'purchase_date' : [np.ptp, 'min', 'max']
}

aggregated_date_features = all_transactions.groupby('card_id').agg(aggregations)
aggregated_date_features.columns = ['_'.join(col).strip()
                                    for col in aggregated_date_features.columns.values]

In [ ]:
aggregated_date_features.head()

                 is_weekend_sum  ...  purchase_date_max
card_id                          ...
C_ID_00007093c1              41  ...         2018-04-09
C_ID_0001238066              87  ...         2018-04-30
C_ID_0001506ef0              39  ...         2018-03-22
C_ID_0001793786              91  ...         2017-12-31
C_ID_000183fdda              60  ...         2018-04-30

[5 rows x 59 columns]

np.ptp및 datetime 형식으로 된 칼럼을 dt.days처리해줍니다.

In [ ]:
aggregated_date_features['purchase_date_ptp'] = aggregated_date_features['purchase_date_ptp'].dt.days

In [ ]:
type(aggregated_date_features['purchase_date_max'][0])

datetime.date

In [ ]:
d_now = datetime.date.today()
d_now

datetime.date(2021, 9, 10)

In [ ]:
aggregated_date_features['purchase_date_max'] = (d_now - aggregated_date_features['purchase_date_max']).dt.days

In [ ]:
aggregated_date_features['purchase_date_min'] = (d_now - aggregated_date_features['purchase_date_min']).dt.days

In [ ]:
aggregated_date_features.head()

                 is_weekend_sum  ...  purchase_date_max
card_id                          ...
C_ID_00007093c1              41  ...               1250
C_ID_0001238066              87  ...               1229
C_ID_0001506ef0              39  ...               1268
C_ID_0001793786              91  ...               1349
C_ID_000183fdda              60  ...               1229

[5 rows x 59 columns]

In [ ]:
aggregated_date_features.to_csv('date_features_final.csv')

### Other Features from transactions

In [ ]:
all_transactions = reduce_mem_usage(pd.read_csv("all_transactions.csv", index_col= 0))

/usr/local/lib/python3.7/dist-packages/numpy/lib/arraysetops.py:580: FutureWarning: elementwise comparison failed; returning scalar instead, but in the future will perform elementwise comparison
  mask |= (ar1 == a)

Mem. usage decreased to 2104.14 Mb (40.8% reduction)

Categorical data를 원한인코딩해줍니다.

In [ ]:
all_transactions['authorized_flag'] = all_transactions['authorized_flag'].apply(lambda x: 1 if x =='Y' else 0)
all_transactions['category_1'] = all_transactions['category_1'].apply(lambda x: 1 if x =='Y' else 0)

In [ ]:
all_transactions.drop(columns=['purchase_date'], axis=1, inplace=True)

In [ ]:
all_transactions = pd.get_dummies(all_transactions, columns=['category_2', 'category_3'])

In [ ]:
all_transactions.head()

   authorized_flag          card_id  ...  category_3_B  category_3_C
0                1  C_ID_4e6213e9bc  ...             0             0
1                1  C_ID_4e6213e9bc  ...             0             0
2                1  C_ID_4e6213e9bc  ...             0             0
3                1  C_ID_4e6213e9bc  ...             0             0
4                1  C_ID_4e6213e9bc  ...             0             0

[5 rows x 19 columns]

Aggregating the columns based on card_id
위에서 원핫 인코딩 등으로 구한 데이터의 sum, mean, 원소개수 최대, 최소, 표준편차 등을 구합니다.

In [ ]:
aggregations = {
    'authorized_flag' : ['sum', 'mean'],
    'category_1' : ['sum', 'mean'],
    'category_2_1.0' : ['sum', 'mean'],
    'category_2_2.0' : ['sum', 'mean'],
    'category_2_3.0' : ['sum', 'mean'],
    'category_2_4.0' : ['sum', 'mean'],
    'category_2_5.0' : ['sum', 'mean'],
    'category_3_A' : ['sum', 'mean'],
    'category_3_B' : ['sum', 'mean'],
    'category_3_C' : ['sum', 'mean'],
    'city_id' : ['nunique'],
    'state_id' : ['nunique'],
    'subsector_id' : ['nunique'],
    'merchant_category_id' : ['nunique'],
    'merchant_id' : ['nunique'],
    'month_lag' : ['sum', 'mean', 'min', 'max', 'std'],
    'installments' : ['sum', 'mean', 'min', 'max', 'std'],
    'purchase_amount' : ['sum', 'mean', 'min', 'max', 'std'],

}

category_features_transactions = all_transactions.groupby('card_id').agg(aggregations)
category_features_transactions.columns = ['_'.join(col).strip() for col in category_features_transactions.columns.values]

In [ ]:
category_features_transactions.head()

                 authorized_flag_sum  ...  purchase_amount_std
card_id                               ...
C_ID_00007093c1                  116  ...             0.296638
C_ID_0001238066                  146  ...             0.186970
C_ID_0001506ef0                   64  ...             0.466420
C_ID_0001793786                  220  ...             0.850442
C_ID_000183fdda                  148  ...             0.508951

[5 rows x 40 columns]

In [ ]:
category_features_transactions.to_csv("transactions_featurs_final.csv")

## Merchants File

###Joining with card_ids

transaction과 겹치는 데이터는 제거해줍니다.

In [ ]:
merchants = reduce_mem_usage(pd.read_csv("merchants.csv"))
merchants.drop(columns=['merchant_category_id', 'subsector_id', 'city_id', 'state_id'], axis =1, inplace=True)

Mem. usage decreased to 30.32 Mb (46.0% reduction)

Transaction data와 merchant data는 중첩되어 있기 때문에 합병해서 피쳐 엔지니어링에 활용하면 좋습니다.

In [ ]:
merged_merchants_with_cards = reduce_mem_usage(pd.read_csv('all_transactions.csv', index_col=0))
merged_merchants_with_cards = merged_merchants_with_cards[['card_id', 'merchant_id']]

/usr/local/lib/python3.7/dist-packages/numpy/lib/arraysetops.py:580: FutureWarning: elementwise comparison failed; returning scalar instead, but in the future will perform elementwise comparison
  mask |= (ar1 == a)

Mem. usage decreased to 2104.14 Mb (40.8% reduction)

In [ ]:
merged_merchants_with_cards = pd.merge(merged_merchants_with_cards, merchants, on='merchant_id', how='left')

In [ ]:
del merchants
reduce_mem_usage(merged_merchants_with_cards)
merged_merchants_with_cards.head()

Mem. usage decreased to 3329.75 Mb (16.9% reduction)

           card_id      merchant_id  ...  category_4  category_2
0  C_ID_4e6213e9bc  M_ID_e020e9b302  ...           Y         1.0
1  C_ID_4e6213e9bc  M_ID_86ec983688  ...           Y         1.0
2  C_ID_4e6213e9bc  M_ID_979ed661fc  ...           Y         1.0
3  C_ID_4e6213e9bc  M_ID_e6d5ae8ea6  ...           Y         1.0
4  C_ID_4e6213e9bc  M_ID_e020e9b302  ...           Y         1.0

[5 rows x 19 columns]

Categorical feature와 numerical_feature의 column을 나눠줍니다.

In [ ]:
merged_merchants_categorical_features = merged_merchants_with_cards[['card_id', 'merchant_group_id',
                                                                     'category_1', 'most_recent_sales_range',
                                                                     'most_recent_purchases_range', 'active_months_lag3',
                                                                     'active_months_lag6', 'active_months_lag12',
                                                                     'category_4', 'category_2',
                                                                     ]]

merged_merchants_numerical_features = merged_merchants_with_cards[['card_id', 'numerical_1', 'numerical_2',
                                                                   'avg_sales_lag3', 'avg_purchases_lag3',
                                                                   'avg_sales_lag6', 'avg_purchases_lag6',
                                                                   'avg_sales_lag12', 'avg_purchases_lag12',
                                                                   ]]

In [ ]:
merged_merchants_categorical_features.to_csv("merged_merchants_categorical_features.csv")
merged_merchants_numerical_features.to_csv("merged_merchants_numerical_features.csv")

### categorical features

In [ ]:
merged_merchants_categorical_features = reduce_mem_usage(pd.read_csv("merged_merchants_categorical_features.csv", index_col=0))

/usr/local/lib/python3.7/dist-packages/numpy/lib/arraysetops.py:580: FutureWarning: elementwise comparison failed; returning scalar instead, but in the future will perform elementwise comparison
  mask |= (ar1 == a)

Mem. usage decreased to 1849.86 Mb (31.8% reduction)

In [ ]:
merged_merchants_categorical_features.head()

           card_id  merchant_group_id  ... category_4 category_2
0  C_ID_4e6213e9bc               35.0  ...          Y        1.0
1  C_ID_4e6213e9bc             2084.0  ...          Y        1.0
2  C_ID_4e6213e9bc            27369.0  ...          Y        1.0
3  C_ID_4e6213e9bc            24104.0  ...          Y        1.0
4  C_ID_4e6213e9bc               35.0  ...          Y        1.0

[5 rows x 10 columns]

문자로 되어있는 데이터를 숫자로 바꿔줍니다.

In [ ]:
merged_merchants_categorical_features['category_1'] = merged_merchants_categorical_features['category_1'].map({
    'Y' : 1,
    'N' : 0
})
merged_merchants_categorical_features['category_4'] = merged_merchants_categorical_features['category_4'].map({
    'Y' : 1,
    'N' : 0
})

In [ ]:
merged_merchants_categorical_features = pd.get_dummies(merged_merchants_categorical_features, columns=[
                                                                                                       'most_recent_sales_range', 'most_recent_purchases_range', 'active_months_lag3', 'active_months_lag6',
                                                                                                       'active_months_lag12', 'category_2'
])

In [ ]:
merged_merchants_categorical_features.head()

           card_id  merchant_group_id  ...  category_2_4.0  category_2_5.0
0  C_ID_4e6213e9bc               35.0  ...               0               0
1  C_ID_4e6213e9bc             2084.0  ...               0               0
2  C_ID_4e6213e9bc            27369.0  ...               0               0
3  C_ID_4e6213e9bc            24104.0  ...               0               0
4  C_ID_4e6213e9bc               35.0  ...               0               0

[5 rows x 40 columns]

숫자 데이터로 바꾼 categorical feature들의 sum, mean, std 등을 칼럼에 추가해줍니다.

In [ ]:
aggregations = {
    'merchant_group_id' : ['nunique'],
    'category_1' : ['sum', 'mean', 'std'],
    'category_4' : ['sum', 'mean', 'std'],
    'category_2_1.0' : ['sum', 'mean', 'std'],
    'category_2_2.0' : ['sum', 'mean', 'std'],
    'category_2_3.0' : ['sum', 'mean', 'std'],
    'category_2_4.0' : ['sum', 'mean', 'std'],
    'category_2_5.0' : ['sum', 'mean', 'std'],
    'most_recent_sales_range_A' : ['sum', 'mean', 'std'],
    'most_recent_sales_range_B' : ['sum', 'mean', 'std'],
    'most_recent_sales_range_C' : ['sum', 'mean', 'std'],
    'most_recent_sales_range_D' : ['sum', 'mean', 'std'],
    'most_recent_sales_range_E' : ['sum', 'mean', 'std'],
    'most_recent_purchases_range_A' : ['sum', 'mean', 'std'],
    'most_recent_purchases_range_B' : ['sum', 'mean', 'std'],
    'most_recent_purchases_range_C' : ['sum', 'mean', 'std'],
    'most_recent_purchases_range_D' : ['sum', 'mean', 'std'],
    'most_recent_purchases_range_E' : ['sum', 'mean', 'std'],
    'active_months_lag3_1.0' : ['sum', 'mean', 'std'],
    'active_months_lag3_2.0' : ['sum', 'mean', 'std'],
    'active_months_lag3_3.0' : ['sum', 'mean', 'std'],
    'active_months_lag6_1.0' : ['sum', 'mean', 'std'],
    'active_months_lag6_2.0' : ['sum', 'mean', 'std'],
    'active_months_lag6_3.0' : ['sum', 'mean', 'std'],
    'active_months_lag6_4.0' : ['sum', 'mean', 'std'],
    'active_months_lag6_5.0' : ['sum', 'mean', 'std'],
    'active_months_lag6_6.0' : ['sum', 'mean', 'std'],
    'active_months_lag12_1.0' : ['sum', 'mean', 'std'],
    'active_months_lag12_2.0' : ['sum', 'mean', 'std'],
    'active_months_lag12_3.0' : ['sum', 'mean', 'std'],
    'active_months_lag12_4.0' : ['sum', 'mean', 'std'],
    'active_months_lag12_5.0' : ['sum', 'mean', 'std'],
    'active_months_lag12_6.0' : ['sum', 'mean', 'std'],
    'active_months_lag12_7.0' : ['sum', 'mean', 'std'],
    'active_months_lag12_8.0' : ['sum', 'mean', 'std'],
    'active_months_lag12_9.0' : ['sum', 'mean', 'std'],
    'active_months_lag12_10.0' : ['sum', 'mean', 'std'],
    'active_months_lag12_11.0' : ['sum', 'mean', 'std'],
    'active_months_lag12_12.0' : ['sum', 'mean', 'std']
}

merchant_features = reduce_mem_usage(merged_merchants_categorical_features.groupby('card_id').agg(aggregations))
merchant_features.columns = ['merchant_' + '_'.join(col).strip() for col in merchant_features.columns.values]

Mem. usage decreased to 68.61 Mb (72.7% reduction)

In [ ]:
merchant_features.head()

                 merchant_merchant_group_id_nunique  ...  merchant_active_months_lag12_12.0_std
card_id                                              ...
C_ID_00007093c1                                  15  ...                               0.178955
C_ID_0001238066                                  66  ...                               0.161621
C_ID_0001506ef0                                  19  ...                               0.203979
C_ID_0001793786                                 104  ...                               0.204346
C_ID_000183fdda                                  64  ...                               0.190552

[5 rows x 115 columns]

In [ ]:
merchant_features.to_csv("merchant_categorical_features_final.csv")

### Numerical Features

In [ ]:
merged_merchants_numerical_features = reduce_mem_usage(pd.read_csv("merged_merchants_numerical_features.csv", index_col=0))

/usr/local/lib/python3.7/dist-packages/numpy/lib/arraysetops.py:580: FutureWarning: elementwise comparison failed; returning scalar instead, but in the future will perform elementwise comparison
  mask |= (ar1 == a)

Mem. usage decreased to 1726.54 Mb (30.0% reduction)

In [ ]:
merged_merchants_numerical_features.head()

           card_id  numerical_1  ...  avg_sales_lag12  avg_purchases_lag12
0  C_ID_4e6213e9bc    23.468750  ...             1.19             1.156844
1  C_ID_4e6213e9bc     1.092773  ...             1.05             1.062087
2  C_ID_4e6213e9bc     0.021851  ...             0.97             0.956668
3  C_ID_4e6213e9bc    -0.057465  ...             0.86             0.864394
4  C_ID_4e6213e9bc    23.468750  ...             1.19             1.156844

[5 rows x 9 columns]

위와 똑같이 numerical feature들의 sum, mean, min, max, std를 칼럼에 추가합니다.

In [ ]:
aggregations = {
    'numerical_1' : ['sum', 'mean', 'min', 'max', 'std'],
    'numerical_2' : ['sum', 'mean', 'min', 'max', 'std'],
    'avg_sales_lag3' : ['sum', 'mean', 'std'],
    'avg_purchases_lag3' : ['sum', 'mean', 'std'],
    'avg_sales_lag6' : ['sum', 'mean', 'std'],
    'avg_purchases_lag6' : ['sum', 'mean', 'std'],
    'avg_sales_lag12' : ['sum', 'mean', 'std'],
    'avg_purchases_lag12' : ['sum', 'mean', 'std'],
}

merchant_features = reduce_mem_usage(merged_merchants_numerical_features.groupby('card_id').agg(aggregations))
merchant_features.columns = ['merchant_' + '_'.join(col).strip() for col in merchant_features.columns.values]

Mem. usage decreased to 36.63 Mb (26.2% reduction)

In [ ]:
merchant_features.head()

                 merchant_numerical_1_sum  ...  merchant_avg_purchases_lag12_std
card_id                                    ...
C_ID_00007093c1                    270.00  ...                          1.333984
C_ID_0001238066                   1324.00  ...                         45.375000
C_ID_0001506ef0                     65.50  ...                          2.556641
C_ID_0001793786                    287.25  ...                         37.843750
C_ID_000183fdda                     32.50  ...                         61.656250

[5 rows x 28 columns]

In [ ]:
merchant_features.to_csv("merchant_numerical_features_final.csv")

## Merging all features together

위에서 feature engineering 한 데이터들을 train, test 데이터와 합병합니다.

In [ ]:
train = reduce_mem_usage(pd.read_csv("processed_train.csv", index_col=0))
test = reduce_mem_usage(pd.read_csv("processed_test.csv", index_col=0))

Mem. usage decreased to  6.16 Mb (73.3% reduction)
Mem. usage decreased to  3.54 Mb (73.2% reduction)

In [ ]:
train.head()

           card_id  ...  year_of_joining
0  C_ID_92a2005557  ...             2017
1  C_ID_3d0044924f  ...             2017
2  C_ID_d639edf6cd  ...             2016
3  C_ID_186d6a6901  ...             2017
4  C_ID_cdbd2c0db2  ...             2017

[5 rows x 14 columns]

###Merging transaction Features

In [ ]:
to_join = reduce_mem_usage(pd.read_csv("transactions_features_final.csv", index_col=0))
train = pd.merge(train, to_join, on='card_id', how='left')
train.head()

Mem. usage decreased to 26.39 Mb (74.1% reduction)

           card_id    target  ...  purchase_amount_max  purchase_amount_std
0  C_ID_92a2005557 -0.820312  ...             2.258394             0.207520
1  C_ID_3d0044924f  0.392822  ...             4.630300             0.382080
2  C_ID_d639edf6cd  0.687988  ...            -0.145847             0.086426
3  C_ID_186d6a6901  0.142456  ...             1.445596             0.250977
4  C_ID_cdbd2c0db2 -0.159790  ...             7.193041             1.205078

[5 rows x 54 columns]

In [ ]:
test = pd.merge(test, to_join, on='card_id', how='left')
test.head()

           card_id  ...  purchase_amount_std
0  C_ID_0ab67a22ab  ...             0.190674
1  C_ID_130fd0cbdd  ...             0.148560
2  C_ID_b709037bc5  ...             0.898438
3  C_ID_d27d835a9f  ...             0.190186
4  C_ID_2b5e3df5c2  ...             3.007812

[5 rows x 53 columns]

In [ ]:
to_join = reduce_mem_usage(pd.read_csv("date_features_final.csv", index_col=0))
train = pd.merge(train, to_join, on='card_id', how='left')
train.head()

Mem. usage decreased to 38.81 Mb (74.0% reduction)

           card_id    target  ...  purchase_date_min  purchase_date_max
0  C_ID_92a2005557 -0.820312  ...               1536               1230
1  C_ID_3d0044924f  0.392822  ...               1708               1260
2  C_ID_d639edf6cd  0.687988  ...               1703               1231
3  C_ID_186d6a6901  0.142456  ...               1445               1241
4  C_ID_cdbd2c0db2 -0.159790  ...               1398               1231

[5 rows x 113 columns]

In [ ]:
test = pd.merge(test, to_join, on='card_id', how='left')
test.head()

           card_id  ...  purchase_date_max
0  C_ID_0ab67a22ab  ...               1290
1  C_ID_130fd0cbdd  ...               1239
2  C_ID_b709037bc5  ...               1277
3  C_ID_d27d835a9f  ...               1242
4  C_ID_2b5e3df5c2  ...               1247

[5 rows x 112 columns]

###Merging Merchant Features

Merging Numerical Features

In [ ]:
to_join = reduce_mem_usage(pd.read_csv("merchant_numerical_features_final.csv", index_col=0))

Mem. usage decreased to 36.63 Mb (49.1% reduction)

In [ ]:
train = pd.merge(train, to_join, on='card_id', how='left')
train.head()

           card_id  ...  merchant_avg_purchases_lag12_std
0  C_ID_92a2005557  ...                        102.750000
1  C_ID_3d0044924f  ...                         40.625000
2  C_ID_d639edf6cd  ...                          2.261719
3  C_ID_186d6a6901  ...                          4.460938
4  C_ID_cdbd2c0db2  ...                         41.718750

[5 rows x 141 columns]

In [ ]:
test = pd.merge(test, to_join, on='card_id', how='left')
test.head()

           card_id  ...  merchant_avg_purchases_lag12_std
0  C_ID_0ab67a22ab  ...                          3.099609
1  C_ID_130fd0cbdd  ...                          1.655273
2  C_ID_b709037bc5  ...                          0.266846
3  C_ID_d27d835a9f  ...                          0.136475
4  C_ID_2b5e3df5c2  ...                          9.312500

[5 rows x 140 columns]

merging categorical features

In [ ]:
to_join = reduce_mem_usage(pd.read_csv("merchant_categorical_features_final.csv", index_col=0))

Mem. usage decreased to 69.85 Mb (75.8% reduction)

In [ ]:
to_join.head()

                 merchant_merchant_group_id_nunique  ...  merchant_active_months_lag12_12.0_std
card_id                                              ...
C_ID_00007093c1                                  15  ...                               0.178955
C_ID_0001238066                                  66  ...                               0.161621
C_ID_0001506ef0                                  19  ...                               0.203979
C_ID_0001793786                                 104  ...                               0.204346
C_ID_000183fdda                                  64  ...                               0.190552

[5 rows x 115 columns]

In [ ]:
train = pd.merge(train, to_join, on='card_id', how='left')
train.head()

           card_id  ...  merchant_active_months_lag12_12.0_std
0  C_ID_92a2005557  ...                               0.215454
1  C_ID_3d0044924f  ...                               0.177124
2  C_ID_d639edf6cd  ...                               0.208374
3  C_ID_186d6a6901  ...                               0.354736
4  C_ID_cdbd2c0db2  ...                               0.260986

[5 rows x 256 columns]

In [ ]:
test =pd.merge(test, to_join, on='card_id', how='left')
test.head()

           card_id  ...  merchant_active_months_lag12_12.0_std
0  C_ID_0ab67a22ab  ...                               0.198608
1  C_ID_130fd0cbdd  ...                               0.149902
2  C_ID_b709037bc5  ...                               0.000000
3  C_ID_d27d835a9f  ...                               0.000000
4  C_ID_2b5e3df5c2  ...                               0.278564

[5 rows x 255 columns]



##데이터 전처리

결측값을 찾아내고

무한에 가까워진 데이터는 결측치 처리하고 결측치가 있는 칼럼은 최빈값으로 채운다.

In [ ]:
train.columns[train.isna().any()]

In [ ]:
test.columns[test.isna().any()]

In [ ]:
train = train.replace([np.inf, -np.inf], np.nan)
test = test.replace([np.inf, -np.inf], np.nan)
train['merchant_avg_purchases_lag3_std'].fillna(train['merchant_avg_purchases_lag3_std'].mode()[0], inplace=True) 
train['merchant_avg_purchases_lag6_std'].fillna(train['merchant_avg_purchases_lag6_std'].mode()[0], inplace=True)
train['merchant_avg_purchases_lag12_std'].fillna(train['merchant_avg_purchases_lag12_std'].mode()[0], inplace=True)
train['merchant_avg_purchases_lag3_sum'].fillna(train['merchant_avg_purchases_lag3_sum'].mode()[0], inplace=True) 
train['merchant_avg_purchases_lag6_sum'].fillna(train['merchant_avg_purchases_lag6_sum'].mode()[0], inplace=True)
train['merchant_avg_purchases_lag12_sum'].fillna(train['merchant_avg_purchases_lag12_sum'].mode()[0], inplace=True)
train['merchant_avg_purchases_lag3_mean'].fillna(train['merchant_avg_purchases_lag3_mean'].mode()[0], inplace=True) 
train['merchant_avg_purchases_lag6_mean'].fillna(train['merchant_avg_purchases_lag6_mean'].mode()[0], inplace=True)
train['merchant_avg_purchases_lag12_mean'].fillna(train['merchant_avg_purchases_lag12_mean'].mode()[0], inplace=True)
test['first_active_month_diff_from_today'].fillna(test['first_active_month_diff_from_today'].mode()[0], inplace=True)
test['year_of_joining'].fillna(test['year_of_joining'].mode()[0], inplace=True)
test['merchant_avg_purchases_lag3_std'].fillna(test['merchant_avg_purchases_lag3_std'].mode()[0], inplace=True) 
test['merchant_avg_purchases_lag6_std'].fillna(test['merchant_avg_purchases_lag6_std'].mode()[0], inplace=True)
test['merchant_avg_purchases_lag12_std'].fillna(test['merchant_avg_purchases_lag12_std'].mode()[0], inplace=True)
test['merchant_avg_purchases_lag3_sum'].fillna(test['merchant_avg_purchases_lag3_sum'].mode()[0], inplace=True) 
test['merchant_avg_purchases_lag6_sum'].fillna(test['merchant_avg_purchases_lag6_sum'].mode()[0], inplace=True)
test['merchant_avg_purchases_lag12_sum'].fillna(test['merchant_avg_purchases_lag12_sum'].mode()[0], inplace=True)
test['merchant_avg_purchases_lag3_mean'].fillna(test['merchant_avg_purchases_lag3_mean'].mode()[0], inplace=True) 
test['merchant_avg_purchases_lag6_mean'].fillna(test['merchant_avg_purchases_lag6_mean'].mode()[0], inplace=True)
test['merchant_avg_purchases_lag12_mean'].fillna(test['merchant_avg_purchases_lag12_mean'].mode()[0], inplace=True)

나중에 학습 작업을 위해 아웃라이어 표시한 피쳐 생성

In [ ]:
train['rare_datapoints'] = 0
train.loc[train['target'] < -30, 'rare_datapoints'] = 1

In [ ]:
train['rare_datapoints'].value_counts()

0    199710
1      2207
Name: rare_datapoints, dtype: int64

##feature 처리한 데이터를 저장한다.

In [ ]:
train.to_csv("train_features_generated.csv")
test.to_csv("test_features_generated.csv")

In [ ]:
train.head()

           card_id  ...  merchant_active_months_lag12_12.0_std
0  C_ID_92a2005557  ...                               0.215454
1  C_ID_3d0044924f  ...                               0.177124
2  C_ID_d639edf6cd  ...                               0.208374
3  C_ID_186d6a6901  ...                               0.354736
4  C_ID_cdbd2c0db2  ...                               0.260986

[5 rows x 256 columns]

In [ ]:
test.head()

           card_id  ...  merchant_active_months_lag12_12.0_std
0  C_ID_0ab67a22ab  ...                                 0.1986
1  C_ID_130fd0cbdd  ...                                 0.1499
2  C_ID_b709037bc5  ...                                 0.0000
3  C_ID_d27d835a9f  ...                                 0.0000
4  C_ID_2b5e3df5c2  ...                                 0.2786

[5 rows x 255 columns]